<p id="notice"><%= notice %></p>

<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Top profiles</h1>
            <p class="lead mb-0">Find the best talent.</p>
        </div>
    </div>
</div><!-- End -->

<input class="form-input" type="text" data-value="<%= @value%>" data-reflex="keyup->SearchReflex#search" placeholder="People Search">

<div id="foo">
<%= render partial: '/users/search_result', locals: {users: @users} %>
</div>

